include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include equip_rental *.css
recursive-include equip_rental *.csv
recursive-include equip_rental *.html
recursive-include equip_rental *.ico
recursive-include equip_rental *.js
recursive-include equip_rental *.json
recursive-include equip_rental *.md
recursive-include equip_rental *.png
recursive-include equip_rental *.py
recursive-include equip_rental *.svg
recursive-exclude equip_rental *.pyc
